<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" color="tertiary">Registracija</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form (ngSubmit)="onRegister()" [formGroup]="registerForm">
      <ion-grid>
        <ion-row>
          <ion-col offset-sm="2" size-sm="3">
            <ion-item>
              <ion-label position="floating">Ime</ion-label>
              <ion-input formControlName="name" type="text"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col offset-sm="2" size-sm="3">
            <ion-item>
              <ion-label position="floating">Prezime</ion-label>
              <ion-input formControlName="surname" type="text"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col offset-sm="3" size-sm="6">
            <ion-item>
              <ion-label position="floating">Email adresa</ion-label>
              <ion-input formControlName="email" type="email"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched">
          <ion-col offset-sm="3" size-sm="6">
            <p>Unesite validnu e-mail adresu!</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col offset-sm="3" size-sm="6">
            <ion-item>
              <ion-label position="floating">Lozinka</ion-label>
              <ion-input formControlName="password" type="password"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched">
          <ion-col offset-sm="3" size-sm="6">
            <p>Lozinka treba da ima minimum 7 karaktera!</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col offset-sm="3" size-sm="6">
            <ion-button color="secondary" expand="block" shape="round" type="submit">Registruj se</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>

  </ion-content>
