<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="tertiary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="tertiary">Moj profil</ion-title>
    <ion-buttons slot="primary">
        <ion-label color="tertiary">{{ time | date: 'hh:mm:ss a' }}</ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
      <ion-list lines="none">
        <ion-item>
          <ion-icon name="person-outline" slot="start"> </ion-icon>
          <ion-label>Ime i prezime:</ion-label>
          <ion-text>Pera Perić</ion-text>
        </ion-item>

        <ion-item>
          <ion-icon name="receipt-outline" slot="start"> </ion-icon>
          <ion-label>Broj predstava:</ion-label>
          <ion-badge color="warning">33</ion-badge>
        </ion-item>

        <ion-item>
          <ion-icon name="cash-outline" slot="start"> </ion-icon>
          <ion-label>Kredit:</ion-label>
          <ion-text>5000</ion-text>
        </ion-item>


      </ion-list>
</ion-content>
