.image{
  height:40em;
  background-size:cover;
  width:auto;
  background-image:url(https://www.subotica.com/files/_thumb/645x430/news/7/0/9/37709/37709-pozoriste-ilustracija.jpg);
  background-position:50% 50%;
}
