<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="tertiary" defaultHref="/performances"></ion-menu-button>
    </ion-buttons>
    <ion-title color="tertiary">Kontakt</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-item>
    <ion-icon name="planet" slot="start"> </ion-icon>
    <ion-label>Sajt:</ion-label>
    <a href="https://www.mojepozoriste.com">www.mojepozoriste.com</a>
  </ion-item>
  <ion-item>
    <ion-icon name="mail-outline" slot="start"> </ion-icon>
    <ion-label>E-mail adresa:</ion-label>
    <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1">mojepozoriste@gmail.com</a>
  </ion-item>

  <ion-item>
    <ion-icon name="logo-whatsapp" slot="start"> </ion-icon>
    <ion-label>Kontakt telefon (WhatsApp):</ion-label>
    <a href="https://www.whatsapp.com/">+381 62 032-333</a>
  </ion-item>
  <ion-item>
    <ion-icon name="logo-instagram" slot="start"> </ion-icon>
    <ion-label>Instagram:</ion-label>
    <a href="https://www.instagram.com/moje_pozoriste_bgd/">@moje_pozoriste</a>
  </ion-item>
<ion-row><ion-row></ion-row>
</ion-row>
<ion-content></ion-content>
